[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/NagireddyGuduru
[access "refs/for/refs/*"]
	read = group user/NagireddyGuduru
	push = group user/NagireddyGuduru
	label-Code-Review = -2..+2 group user/NagireddyGuduru
	label-Verified = -1..+1 group user/NagireddyGuduru
	rebase = group user/NagireddyGuduru
	removeReviewer = group user/NagireddyGuduru
	submit = group user/NagireddyGuduru
[access "refs/heads/*"]
	read = group user/NagireddyGuduru
	create = group user/NagireddyGuduru
	push = +force group user/NagireddyGuduru
	pushMerge = group user/NagireddyGuduru
[access "refs/tags/*"]
	push = group user/NagireddyGuduru
	push = +force group user/NagireddyGuduru
